
@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('proxima-nova/proximanova_light.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova SemiBold';
  src: url('proxima-nova/Mark Simonson  Proxima Nova Extra Condensed Semibold TheFontsMaster.com.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Medium';
  src: url('proxima-nova/proximanova_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

